.header, .intro {
    width: 90%;
    margin: 0 auto;
    margin: 5%;
    text-align: center;
}

.intro {
    background-color: #F7F7F7;
}

p {
    color: blueviolet;
}

p::first-letter{
    text-transform: capitalize;
}