body {
    font-family: Arial;
    background: #f1f1f1;
  }

  .header{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  .header {
    text-justify: auto;
    background: #31bc9b;
    
  }
  .header img{
      width: 30%;
      height: auto;
      
  }
  .topnav a:hover{
    background-color: #ddd;
    color: black;
  }
  .header h2 {

    font-size: 4vw;
    color: white;
    padding: 0;
  }
  .topnav {
    display: flex;
    background-color: #333;
    text-align: center;
    justify-content: center;

  }
  .links{
    margin:0 auto;
    width: 50%;
    font-size: 3em;
    color: #31bc9b;
    margin:5% ;  
    text-align: center;
  }
 
  .topnav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  .footer {
    display: flex;
    text-align: center;
    background-color: #fb853d;
    align-content: center;
    justify-content: center;

  }
  
 
  .footer a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  
  .footer a:hover {
    background-color: #ddd;
    color: black;
  }

