body {
    padding: 10px 15%;
}

label{
    color: black;
}

legend {
    color: #F55C47;
    font-weight: 600;
}

fieldset {
    margin: 10px auto;
}

textarea {
    margin: 1% auto;
}

.main_div {
    width: 60%;
    margin: 0 auto;
    color: #2E4C6D
}

.separeted-input {
    margin: 10px 0;
}

/* .active:active {
    border-color: #66DE93;
} */

.btn {
    width: 5rem;
    height: 2rem;
    border-radius: 10px;
    box-shadow: 1rem .1rem 1rem #EAEAEA;
}

.btn-danger {
    background-color: #DC3545;
    color: white;
}